.modal-body {
	position: absolute;
	background-color: var(--secondary-color-alt);
	border: 1px solid var(--tirciary-color);
	box-sizing: border-box;
	border-radius: 10px;
	top: 25%;
	padding-top:24px;
	padding-bottom:24px;
	z-index: 999;

}

.modal-text {
	margin-left: 24px;
	margin-bottom: 12px;
}

.modal-input {
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 12px;
}

.modal-input input {
	width: 100%;
}

.modal-buttons {
	margin-left: 24px;
	margin-right: 24px;
	display: flex;
	float: right;	
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
		Introduced in Internet Explorer 10.
		See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
}

.modal-buttons div {
	width:70px;
	margin-left: 12px;
	background: var(--secondary-color);
	border: 1px solid var(--tirciary-color);
	box-sizing: border-box;
	border-radius: 5px;
	cursor: pointer;
	align-items: center;
	text-align: center;
	font-size: 16px;
	font-weight: bolder;
	color: var(--tirciary-color);
}

[class*="modal-body"] {
	width: 100%;
	left: 0;

}

@media only screen and (min-width: 768px) { 
	.modal-body {
		width: 40%;
		left: 30%;

	}
}