.dice-main {
	margin-right: 24px;
	margin-bottom: 24px;
	align-items: center;
	text-align: center;
}

.dice {
	background: var(--secondary-color);
	border: 1px solid var(--tirciary-color);
	box-sizing: border-box;
	border-radius: 10px;
	width: 100px;
	height: 100px;
	cursor: pointer;

	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
		Introduced in Internet Explorer 10.
		See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
}

.value-text {
	font-size: 72px;
	line-height: 84px;
	align-items: center;
	text-align: center;
	width: 100%;

	color: var(--tirciary-color);
}

.locked-text {
	font-size: 14px;
	line-height: 16px;
	align-items: center;
	text-align: center;
	position: relative;
	top: -10px;
	color: var(--secondary-color-alt);
}

.locked-dice {
	border-color: var(--secondary-color-alt);
}

.locked-value {
	color: var(--secondary-color-alt);
}

.locked-cursor {
	cursor: default;
}

.plus {
	cursor: pointer;
	color: var(--secondary-color);
	font-size: 24px;
	font-weight: bolder;
	width: 100%;
	text-align: center;
	height: 50px;
	
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
		Introduced in Internet Explorer 10.
		See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;

}

.locked-plus {
	color: var(--secondary-color-alt);

}
