.alert-body {
	position: absolute;
	width: 100%;
	background-color: var(--secondary-color-alt);
	top: 25%;
	left: 0px;
	padding-top:24px;
	padding-bottom:24px;
	z-index: 999;
	border-bottom: 10px solid var(--secondary-color);

}

.alert-text {
	margin-bottom: 12px;
	width:100%;
	font-size: 64px;
	text-align: center;
	font-weight: bolder;
	color: var(--tirciary-color);
}
