.dices {
	display: flex;
	flex-wrap: wrap;
}

.dice-button-section {
	display: flex;
	align-items: center;
}

.dice-button {
	width: 168px;
	height: 50px;
	background: #ffd100;
	border: 1px solid #1c3144;
	box-sizing: border-box;
	border-radius: 10px;
	margin-right: 24px;
	cursor: pointer;
	align-items: center;
	text-align: center;
	font-size: 36px;
	font-weight: bolder;
	color: #1c3144;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
		Introduced in Internet Explorer 10.
		See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
}

.dice-section {
	margin-bottom: 24px;
}