.header {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 24px;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	height: 48px;
	border-bottom: 5px solid var(--secondary-color-alt);
}

.header-text {
	font-size: 36px;
	font-weight: bolder;
}

.menu-button {
	font-size: 36px;
	font-weight: bolder;
	position: absolute;
	left: 24px;
	cursor: pointer;
	color: var(--primary-color);

	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
		Introduced in Internet Explorer 10.
		See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;

}

.reset-button {
	position: absolute;
	right: 0;
	font-size: 36px;
	font-weight: bolder;
	color: var(--secondary-color-alt);
	cursor: pointer;

	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
		Introduced in Internet Explorer 10.
		See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
}

.hidden-button {
	visibility: hidden;
}

