.main {
	background: var(--primary-color);
	height: auto;
	min-height: 100%;
}
.body {
	margin-left: 36px;
	margin-right: 36px;
}

.player-name {
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 75px;
	display: flex;
	align-items: center;
	color:var(--secondary-color);
	margin-bottom: 24px;
}

.player-score {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	display: flex;
	align-items: center;
	color: var(--secondary-color);
	margin-bottom: 24px;
}

.main-body-theme-rams {
	--primary-color: #003594;
	--secondary-color: #ffd100;
	--secondary-color-alt: #ffe15c;
	--tirciary-color: #1c3144;
}

.main-body-theme-niners {
	--primary-color: #aa0000;
	--secondary-color: #b3995d;
	--secondary-color-alt: #d8bf85;
	--tirciary-color: #000000;

}