.main {
	background: #003594;
	height: 100%;
}
.body {
	margin-left: 36px;
	margin-right: 36px;
}

.player-name {
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 75px;
	display: flex;
	align-items: center;
	color: #ffd100;
	margin-bottom: 24px;

}

.player-score {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	display: flex;
	align-items: center;
	color: #ffd100;
	margin-bottom: 24px;
}

.rules-button {
	position: absolute;
	top: 60px;
	right: 36px;
	font-size: 16px;
	font-weight: bolder;
	color: #ffd100;
	cursor: pointer;

	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
		Introduced in Internet Explorer 10.
		See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
}
